@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import "tailwindcss";

@media (prefers-color-scheme: dark) {
    :root {
        --zaiko-bg-0: #0A0B10;
        --zaiko-bg-1: #13171F;
        --zaiko-bg-2: #1C212C;
        --zaiko-text: #B3B9C5;
        --zaiko-text-lc: #454754;
        --zaiko-text-hc: #FFFFFF;
        --zaiko-main-color: #01AD99;
        --zaiko-bad-color: #DB065E;
        --zaiko-warning-color: #FFB300;
        --zaiko-link-color: #01AAFF;
        --zaiko-table-divider: #B4C2E0;
    }
}

@media (prefers-color-scheme: light) {
    :root {
        --zaiko-bg-0: #FFFFFF;
        --zaiko-bg-1: #F5F6FA;
        --zaiko-bg-2: #E8EAF1;
        --zaiko-text: #333333;
        --zaiko-text-hc: #000000;
        --zaiko-main-color: #01AD99;
        --zaiko-bad-color: #DB065E;
        --zaiko-warning-color: #FFB300;
        --zaiko-link-color: #01AAFF;
        --zaiko-table-divider: #B4C2E0;
    }
}
